@font-face {
    font-family: Circular-Book-Italic;
    src: url("/fonts/circular-book-italic.otf")
}
@font-face {
    font-family: Circular-Book;
    src: url("/fonts/circular-book.otf")
}
@font-face {
    font-family: Circular-Medium;
    src: url("/fonts/circular-medium.otf")
}
@font-face{
    font-family: Circular-Medium-Italic;
    src: url("/fonts/circular-medium-italic.otf");
}